# Задание 1
Скачайте с сайта датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [22]:
import pandas as pd

In [23]:
data = pd.read_csv('D:/DataSci/Python/Numpy_pandas/hw2/dataset/ratings.csv')

In [24]:
filtered_by_rate = data[data['rating'] == 5.0]
best_rate_film = filtered_by_rate['movieId'].value_counts().head(1)
total = dict(best_rate_film)
for k, v in total.items():
    print(f"Фильм с ID № {k} имеет {v} оценок '5.0'")

Фильм с ID № 318 имеет 39553 оценок '5.0'

In [25]:
(data[data['rating'] == 5.0])['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [26]:
country_data = pd.read_csv('power.csv')

In [27]:
print(country_data[country_data['country'].str.contains('lat', case=False)]['country'].unique())
print()
print(country_data[country_data['country'].str.contains('lit', case=False)]['country'].unique())
print()
print(country_data[country_data['country'].str.contains('est', case=False)]['country'].unique())
print()

['Latvia']

['Lithuania']

['Estonia' 'State of Palestine' 'Timor-Leste']

In [28]:
filt_countries = country_data[(country_data['country']=='Latvia') | (country_data['country']=='Lithuania') | (country_data['country']=='Estonia')]
filt_by_category = filt_countries[(filt_countries['category']==4) | (filt_countries['category']==12) | (filt_countries['category']==21)]
filt_by_year = filt_by_category[(filt_by_category['year']==2005) | (filt_by_category['year']==2006) | (filt_by_category['year']==2007) | (filt_by_category['year']==2008) | (filt_by_category['year']==2009) | (filt_by_category['year']==2010)]

print(f"Суммарное потребление стран Прибалтики: {filt_by_year[filt_by_year['quantity'] > 0]['quantity'].sum()}")

Суммарное потребление стран Прибалтики: 240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. 
Вы можете взять любые страницы.
Примеры страниц:

https://fortrader.org/quotes

www.finanz.ru...om-vremeni.

In [29]:
df = pd.read_html('https://www.cbr.ru/currency_base/daily/', attrs = {'class': 'data'}, encoding='utf-8')

In [30]:
df

[    Цифр. код Букв. код  Единиц                                    Валюта  \
 0          36       AUD       1                      Австралийский доллар
 1         944       AZN       1                     Азербайджанский манат
 2          51       AMD     100                          Армянских драмов
 3         933       BYN       1                         Белорусский рубль
 4         975       BGN       1                            Болгарский лев
 5         986       BRL       1                          Бразильский реал
 6         348       HUF     100                       Венгерских форинтов
 7         410       KRW    1000                      Вон Республики Корея
 8         344       HKD      10                      Гонконгских долларов
 9         208       DKK      10                              Датских крон
 10        840       USD       1                                Доллар США
 11        978       EUR       1                                      Евро
 12        356       INR     100                           Индийских рупий
 13        398       KZT     100                       Казахстанских тенге
 14        124       CAD       1                          Канадский доллар
 15        417       KGS     100                          Киргизских сомов
 16        156       CNY      10                           Китайских юаней
 17        498       MDL      10                           Молдавских леев
 18        934       TMT       1                   Новый туркменский манат
 19        578       NOK      10                           Норвежских крон
 20        985       PLN       1                           Польский злотый
 21        946       RON       1                             Румынский лей
 22        960       XDR       1     СДР (специальные права заимствования)
 23        702       SGD       1                       Сингапурский доллар
 24        972       TJS      10                         Таджикских сомони
 25        949       TRY      10                              Турецких лир
 26        860       UZS   10000                           Узбекских сумов
 27        980       UAH      10                         Украинских гривен
 28        826       GBP       1  Фунт стерлингов Соединенного королевства
 29        203       CZK      10                              Чешских крон
 30        752       SEK      10                             Шведских крон
 31        756       CHF       1                         Швейцарский франк
 32        710       ZAR      10                    Южноафриканских рэндов
 33        392       JPY     100                              Японских иен

       Курс
 0   459496
 1   405904
 2   175256
 3   259461
 4   373902
 5   129811
 6   182058
 7   535078
 8   888193
 9   983169
 10  690037
 11  733389
 12  834230
 13  147368
 14  505411
 15  805459
 16  987901
 17  355884
 18  197153
 19  699175
 20  156784
 21  149381
 22  917321
 23  508727
 24  676030
 25  370033
 26  611400
 27  186841
 28  837015
 29  301840
 30  663089
 31  745100
 32  398191
 33  518396  ]