# Задание 1
Скачайте с сайта датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('D:/DataSci/Python/Numpy_pandas/hw2/dataset/ratings.csv')

In [4]:
filtered_by_rate = data[data['rating'] == 5.0]
best_rate_film = filtered_by_rate['movieId'].value_counts().head(1)
total = dict(best_rate_film)
for k, v in total.items():
    print(f"Фильм с ID № {k} имеет {v} оценок '5.0'")

Фильм с ID № 318 имеет 39553 оценок '5.0'

In [6]:
filtered_by_rate = data[data['rating'] == 5.0]
best_rate_film = filtered_by_rate['movieId'].value_counts().head(1)
total = dict(best_rate_film)
a = lambda total: {k for k, v in total.items()
print(a)

SyntaxError: invalid syntax (Temp/ipykernel_47532/3177116491.py, line 5)

In [7]:
filtered_by_rate = data[data['rating'] == 5.0]
best_rate_film = filtered_by_rate['movieId'].value_counts().head(1)
print(f"Фильм с ID № {best_rate_film.index[0]} имеет {best_rate_film[best_rate_film.index[0]]} оценок '5.0'")

Фильм с ID № 318 имеет 39553 оценок '5.0'

In [8]:
filtered_by_rate = data[data['rating'] == 5.0]
best_rate_film = filtered_by_rate['movieId'].value_counts().head(1)
print(f"Фильм с ID № {best_rate_film.index[0]} имеет {int(best_rate_film.values)} оценок '5.0'")

Фильм с ID № 318 имеет 39553 оценок '5.0'

In [9]:
(data[data['rating'] == 5.0])['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [10]:
country_data = pd.read_csv('power.csv')

In [11]:
print(country_data[country_data['country'].str.contains('lat', case=False)]['country'].unique())
print()
print(country_data[country_data['country'].str.contains('lit', case=False)]['country'].unique())
print()
print(country_data[country_data['country'].str.contains('est', case=False)]['country'].unique())
print()

['Latvia']

['Lithuania']

['Estonia' 'State of Palestine' 'Timor-Leste']

In [12]:
filt_countries = country_data[(country_data['country'].isin(['Latvia', 'Lithuania', 'Estonia']))]
filt_by_category = filt_countries[(filt_countries['category'].isin([4, 12, 21]))]
filt_by_year = filt_by_category[(filt_by_category['year'].isin([2005, 2006, 2007, 2008, 2009, 2010]))]

print(f"Суммарное потребление стран Прибалтики: {filt_by_year[filt_by_year['quantity'] > 0]['quantity'].sum()}")

Суммарное потребление стран Прибалтики: 240580.0

In [13]:
filt_countries

           country  year  quantity  category
373      Lithuania  2014      39.0         1
374      Lithuania  2013     192.0         1
375      Lithuania  2012     196.0         1
376      Lithuania  2011     171.0         1
377      Lithuania  2010     158.0         1
...            ...   ...       ...       ...
1188862  Lithuania  2003       0.0        71
1188863  Lithuania  2002       0.0        71
1188864  Lithuania  2001       0.0        71
1188865  Lithuania  2000       0.0        71
1188866  Lithuania  1999       0.0        71

[27306 rows x 4 columns]

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. 
Вы можете взять любые страницы.
Примеры страниц:

https://fortrader.org/quotes

www.finanz.ru...om-vremeni.

In [32]:
df = pd.read_html('https://www.cbr.ru/currency_base/daily/', attrs = {'class': 'data'}, encoding='utf-8')

In [33]:
df[0]

,Цифр. код,Букв. код,Единиц,Валюта,Курс
0,36,AUD,1,Австралийский доллар,487675
1,944,AZN,1,Азербайджанский манат,424298
2,51,AMD,100,Армянских драмов,183040
3,933,BYN,1,Белорусский рубль,263539
4,975,BGN,1,Болгарский лев,392249
5,986,BRL,1,Бразильский реал,138638
6,348,HUF,100,Венгерских форинтов,190913
7,410,KRW,1000,Вон Республики Корея,565198
8,344,HKD,10,Гонконгских долларов,927009
9,208,DKK,1,Датская крона,103144
10,840,USD,1,Доллар США,721306
11,978,EUR,1,Евро,766446
12,356,INR,100,Индийских рупий,874499
13,398,KZT,100,Казахстанских тенге,153378
14,124,CAD,1,Канадский доллар,529904
15,417,KGS,100,Киргизских сомов,841860
16,156,CNY,1,Китайский юань,102600
17,498,MDL,10,Молдавских леев,373413
18,934,TMT,1,Новый туркменский манат,206087
19,578,NOK,10,Норвежских крон,736808
20,985,PLN,1,Польский злотый,164738
21,946,RON,1,Румынский лей,156615
22,960,XDR,1,СДР (специальные права заимствования),960787
23,702,SGD,1,Сингапурский доллар,535292
24,972,TJS,10,Таджикских сомони,706512
25,949,TRY,10,Турецких лир,386552
26,860,UZS,10000,Узбекских сумов,640871
27,980,UAH,10,Украинских гривен,195308
28,826,GBP,1,Фунт стерлингов Соединенного королевства,873429
29,203,CZK,10,Чешских крон,316835
30,752,SEK,10,Шведских крон,697231
31,756,CHF,1,Швейцарский франк,781141
32,710,ZAR,10,Южноафриканских рэндов,420604
33,392,JPY,100,Японских иен,547356